# Top level files and directories
/.circleci/
/.git/
/.dockerignore
/scripts/release-notes.sh

# Patterns
**/config/
**/kodata/
**/samples/
**/*.yaml
**/*.md
**/*_test.go
**/.gitignore
**/cloudbuild.yaml
**/Dockerfile

# Binaries
**/_output/
